/images/*.JPG
/images/*.zip
/images/*/*.JPG
/images/*/*.zip

/objects/*_0*.JPG.pkl
/objects/*/*_0*.JPG.pkl

/objects/*_1*.JPG.pkl
/objects/*/*_1*.JPG.pkl

/objects/*_2*.JPG.pkl
/objects/*/*_2*.JPG.pkl

/objects/*_3*.JPG.pkl
/objects/*/*_3*.JPG.pkl

/objects/*_4*.JPG.pkl
/objects/*/*_4*.JPG.pkl

/objects/*_5*.JPG.pkl
/objects/*/*_5*.JPG.pkl

/objects/*_6*.JPG.pkl
/objects/*/*_6*.JPG.pkl

/objects/*_7*.JPG.pkl
/objects/*/*_7*.JPG.pkl

/objects/*_8*.JPG.pkl
/objects/*/*_8*.JPG.pkl

/objects/*_9*.JPG.pkl
/objects/*/*_9*.JPG.pkl